{% extends "base.html" %}

{% block content %}
<h1>Добавление новости</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(class="form-control") }}<br>
    </p>
    <p>
        {{ form.place.label }}<br>
        {{ form.place(class="form-control") }}<br>
        {% for error in form.place.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.number_of_p.label }}<br>
        {{ form.number_of_p(class="form-control") }}<br>
    </p>
    <p>
        {{ form.points.label }}<br>
        {{ form.points(class="form-control") }}<br>
        {% for error in form.points.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}